/*
 @import url("https://fonts.googleapis.com/css?family=Open+Sans");

@import url('styler_mobile.css');
*/
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
 
  
}
html {
  height: -webkit-fill-available;
  min-height: 100%;
}


body{

    background-image: url('./Images/cla-logo_w.png');
  
/*    background-image: url('./images/cla-logo_bw.png');
*/    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
   

  /*  background-position: max(50%, calc(35% + 315px)) 50%;
  */
    background-size: 16%;
    background-color: #333333;
    
/*background-color: #021D49;
  font-family: sofia-pro, sans-serif !important;
  */
  position:fixed;
  width: 100vw;
  font-family: "Open Sans" !important;
  font-size: 14px;
  /*   background-image: url('./images/cwa-leafmap-background.png');
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
*/
}

#background{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: red;
  
}


.container-fluid{
  padding: 0 0 0 0;
}

/*START HEADER STYLES*/
#header {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 75px;

  background-color: #3d5c8a;
  
   background-image: url('./images/gradient.png');
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  font-family: "Open Sans" !important;
 /* font-family: Alice, sans-serif !important;
  */
  border-bottom: 4px solid #221b65;
  
  margin: 0 auto;
/*    display: flex;
   flex-direction: row;
  flex-wrap: nowrap;*/
  justify-content:  space-between;
  
  padding: 10px 10px 10px 10px;

}
#header-title {
  
/*  float: left;
  */
  position: relative;
  display: inline-block;
  
  border: 0px solid green;
  width: 220px;
  height: 60px ;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  
  font-size: 40px;
  color : #ffffff;
  line-height: 22px;
  font-weight: bold;
  
/* align-self: flex-start;
  */
  background-image: url('./images/cla-logo_v001.png');
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
#title {
   display: inline-block;       /* Display inline block */
    text-align: center;          /* For button text center */
    position: absolute;          /* Position absolute */
    left: 50%;                   /* Move 50% from left */
    top: 15px;                /* Move 10px from bottom */
    transform: translateX(-50%);
    
  color: white;
  font-size: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Open Sans" !important;
  font-weight: bold;
  
  margin-top: 10px;
  border: 0px solid red;
  width: 300px;
  
  
  
}

#header-logo {

position: relative;
  display: inline-block;
  float: right;
  border: 0px solid green;
  width: 32px;
  height: 32px;
  margin-top: 15px;
  /*
  align-self: flex-end;
*/
   background-image: url('./images/James+River+Association_Gradient_rgb.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  
}
/*END HEADER STYLES*/


#Map{
  position: fixed !important;
    top: 75px;
    bottom: 0px !important;
    z-index: 999;
}


.leaflet-top {
  height: 100vh;
}



.leaflet-control-layers {
  
  
}


.leaflet-container{
    font:11px/1.5 "Open Sans";
}


.leaflet-control-layers-selector{
   float: left;
  display: inline-block;
  border: 0px solid red;
  
}

/*Legend*/

.legend-item {
  position: relative;
  border: 0px solid red;
  float: left;
  display: inline-block;
    width: 200px;
    clear: none;
}

.legend-item > div {
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top: 3px;
}

.legend-sub-items-container{
  
  position: relative;
  border: 0px solid red;
  float: left;
  display: inline-block;
  margin-left: 20px;
  width: calc(100% - 00px);
   font:11px/1.5 "Open Sans";
}
.legend-sub-items-container > div,
.legend-sub-items-container > img {
    position: relative;
  border: 0px solid red;
  float: left;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 5px;
  
}
.legend-sub-items-container > img{
  clear: left;
  max-width: 20px;
  max-height: 20px;
}

.legend-sub-items-container > .size-chart{
  background-image: url('./Images/size-chart.png');
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 56px;
  width: 150px;
}

.legend-header {
  
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
  
  letter-spacing: 3px;
  text-transform: unset;
}


.leaflet-control-layers{
  width: 270px;
  height: 440px;
   font-family: "Open Sans" !important; 
   top: 96px;
}

.leaflet-control-layers-base{
  position: absolute;
  display: block;
  top: 355px;
  background-color: none;
  width: 220px;
}

.leaflet-control-layers-base > label > div > span {
  margin-left : 10px;
}
.leaflet-control-layers-base > label > div > input {
  margin-top : 0;
}

.leaflet-control-layers-overlays{
  position: absolute;
  display:block;
  top: -5px;
  background-color: none;
  width: 220px;

}

.leaflet-control-layers-separator{
   position: absolute;
  display: block;
  top: 340px;
  background-color: none;
  width: 266px;
}


/*End Legend*/




/*Table*/ 


.col-sm-4{
  position: absolute;
  right: -5px;
  top: 85px;
  width: unset !important;
  
  border: 0px solid red;
}


.well {
  width: 400px !important;
  
  margin-left: 0px;
  border-radius: 5px;
  border: 2px solid rgba(0,0,0,0.2);
 padding: 5px 5px 15px 5px;
 background-color: #ffffff;
 
 top: 10px;
 
  font: 11px/1.5 "Open Sans" ;
 
  
}

.table-header > #SiteNo,
.table-header > #MarkerIconText {
   display: block;
   font: 16px "Open Sans";
   
   letter-spacing: 3px;
    width: 350px;
  /*width: calc(100% - 100px);*/
   text-align: left;
   
     border: 0px solid red;
   
}

.table-header > #SiteNo{
  font: 20px bold "Open Sans";
  font-size: 20px;
  font-weight: bold;
  
    border: 0px solid red;
  
}
.table-header > #MarkerIconText{
  font-weight: bold;
  
}

#MarkerIcon{
  display: block;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  
    border: 0px solid red;
}

#showSidebar{
    width: 24px;
  height: 24px;
  background-image: url('./Images/close_black.png');
  background-color: unset !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  color: white;
  
  border: 0px solid green;
 
  text-align: center;
  text-decoration: none;
  display: block;
  float: right;
  font-size: 16px;
}

#InspectionType{
    display: block;
    width: 100%;
    text-align: center;
    font: bold 14px "Open Sans" !important;
    letter-spacing: 3px;
    margin: 10px 0 10px 0;
    
    
}

#RecordNav {
  width: 200px;
  display: block;
  border: 0px solid green;
  margin: 0 auto;
  font: bold 14px "Open Sans" !important;
  letter-spacing: 2px;
  

}

#Back{
  float: left;
  display: block;
  
  width: 24px;
  height: 24px;
  background-image: url('./Images/baseline_arrow_back_ios_black_48dp.png');
  background-color: unset !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  color: white;
  
  border: 0px solid green !important;
  outline: none !important;
 
  text-align: center;
  text-decoration: none;
  
  font-size: 16px;
}

.container-fluid > #Table {
  
   position: absolute;
 z-index: 999;
 right: 0;
 top:0;
 
}

#TableIndex{

 top: 0;
 width: 100px;
 height: 24px;
 display: block;
 margin: 0 auto;
 text-align: center;
   padding-top: 3px;
}
#Next{
  float: right;
  display: block;
  
  width: 24px;
  height: 24px;
  background-image: url('./Images/baseline_arrow_forward_ios_black_48dp.png');
  background-color: unset !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  color: white;
  
  border: 0px solid green !important;
  outline: none !important;
 
  text-align: center;
  text-decoration: none;
  
  font-size: 16px;

  
}

.table {
  width: 100% !important;
  margin-bottom: 10px;

}

.table > thead > tr > td:first-child {
 
  width: 150px;
  
}

.table > thead > tr > td:nth-child(2) {
 
  width: calc(100% - 150px);
  
}
/*End Table*/

/*Stats*/
.col-sm-8 {
  padding-left: 0;
  position: absolute;
  bottom: 0;
}

#StatsText{
  font-family: "Open Sans" !important;
  font-size: 11px;
}

#stats-container{
  top: 85px;
   /* bottom: 441px; 
  */
  width: 270px;
  height: 125px;
  padding: 10px 0 10px 0;
  
}
#stats-container-2{
 
  top: 215px; 
  width: 270px;
  height: 35px;
}

#stats-container, #stats-container-2{
  position: absolute;
  display: block;
  z-index: 0;

  background-color: white;
  
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
  border-radius: 5px;
  border: 2px solid rgba(0,0,0,0.2);
        
  margin-left: 10px;
  margin-bottom: 10px;
  
  font:11px/1.5 "Open Sans" ;
  
}

.checkbox{
  margin: 0 0 0 0px;
}

#stats-container-2 > .form-group  > .checkbox > label > span{
 font-weight: bold !important;
  
}

/*End Stats*/

#showInfo{
  
  width: 32px;
  height: 32px;
  background-image: url('./Images/info_white.png');
  background-color: unset !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  color: white;
 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}


/*Map Things*/

.leaflet-control-zoom {
  left: 280px;
  top: 60px;
  
}
.leaflet-control-search {
  position: absolute !important;
  left: 280px;
/*  width: 250px; */
  box-shadow: unset !important;
    border: 2px solid rgba(0,0,0,0.2) !important;
  
}
.search-input{
  display: inline-block;
  
}
.search-button {

    width: 31px !important;
    height: 31px !important;
    display: inline-block;
    background-image: url(./Images/baseline_search_black_48dp.png) !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  
}

/*End Map Things*/

    
.col-sm-8 {
    padding-left: 0;
    position: absolute;
    top: 0;
    height: 100vh;

}
