

 @import url("https://fonts.googleapis.com/css?family=Open+Sans");

@import url('styler.css');
@import url('circular_loader_001.css');


@media (max-height: 700px) {
  
 .leaflet-control-layers-separator{
       /* top: 226px !important;*/
         top: 241px !important;
    }
    .leaflet-control-layers-base{
     /* top: 236px; */
      top: 250px !important;
    }
    .leaflet-control-layers {
     /* height: 296px*/;
       height: 311px;
       margin-left: 0px;
    }
    
    .leaflet-left .leaflet-control {
      margin-left: 0px !important;
    }
    
    
    .leaflet-control-layers-separator {
      display: none;
    }
    .leaflet-control {
      margin-left: 5px !important;
    }
}

@media (min-width: 1200px){
  
  #title {
    
    top: 9px;
    font-size: 26px;
    letter-spacing: 5px;
    width: 400px;
  }
  
}

@media (max-width: 800px), (max-height: 700px){
     
     body{
       
       font-size: 12px;
     }
     .h4, h4 {
        font-size: 14px;
    }
    .modal-header{
      padding: 5px 10px 5px 10px;
    }
     .modal-body{
      padding: 5px 10px 5px 10px;
    }
     
    #stats-container{
      z-index: 0 !important;
      border: 3px solid red !important;
    }
    
    #stats-container-2{ 
      top: 45px; 
      margin-left: 5px;
    }
   
    #stats-container-2 >  input{
      margin-top: 0 !important;
      bottom: 5px;
  
    }
    
    #stats-container-2 > span{
  
      bottom: 6px;
      margin-left: 18px;
    
    }

    .leaflet-control {
      margin-left: 5px !important;
    }
   
    .leaflet-control-layers{
       top: -34px !important; 
       margin-left: 5px;
    }
     
      
    #header {
      height: 40px;
      border-bottom: 2px solid #221b65 ;
      padding: 5px 5px 5px 5px;
      
    }
    
    #header-title{
      width: 110px;
      height: 30px;
    }
    
    #header-logo {
      margin-top: 3px;
      width: 24px;
      height: 24px;
    }
    #showInfo {
      width: 24px;
      height: 24px;
      
    }
    
    #title{
      top: 5px ;
      margin-top: 5px ;
      font-size: 15px;
    }
    
    #Map{
      top: 40px !important;
      height: calc(100vh - 40px) !important;
    }
    
    
    /*Stats contatiner*/
    
    /**/
    
    /*Legend Styles*/
  
    .leaflet-container{
      font: 8px "Open Sans" !important;
    }
    
   .legend-sub-items-container{
     font: 8px "Open Sans" !important;
      margin-left: 5px !important;
      margin-top: 1px;
   }
   
   .legend-header{
     font-size: 11px;
     margin-left: -10px !important;
     letter-spacing: 2px;
   }
   
   .leaflet-control-layers-overlays > label > div > input{
     margin-top: -1px;
     clear: both !important;
   }
   
    .leaflet-control {
      margin-left: 5px !important;
    }
   
    .legend-sub-items-container > div {
      margin-left: 5px !important;
      margin-bottom: 2px;
    }
    .legend-sub-items-container > img {
      max-width: 10px !important;
      max-height: 10px !important;
      margin-left: 5px !important;
      margin-bottom: 2px;
      
    }
    .legend-item{
      width: 160px !important;
    }
    
    .legend-item > div {
        margin-left: 5px !important;
        margin-top: 1px !important;
        letter-spacing: 0px;
    }
    
    .legend-sub-items-container > .size-chart {
      
        height: 36px !important;
        width: 90px !important;
    }
    
    .legend-sub-items-container > .color-chart{
        
        height: 40px;
        width: 130px;
        margin-top: -3px;
      }
    
    #stats-container-2{
      width: 180px !important;
      font: 8px "Open Sans" !important;   
      height: 27px !important;
        margin-left: 5px;
     
    }
    
    #stats-container-2 > .shiny-input-container > .checkbox > label{
      
  
    }
    
    #stats-container-2 >  input{
      margin-top: 0 !important;
      bottom: 5px;
  
    }
    
    #stats-container-2 > span{
  
      bottom: 6px;
      margin-left : 18px;
  
    }

    
    .leaflet-control-layers{
        width: 180px !important;
        height: 315px;
        margin-left: 0px;
    }  
    .leaflet-control-layers-overlays{
       width: 180px !important;
        height: 210px !important;
       
    }
  /*  .leaflet-control-layers-separator{
      top: 242px !important;
       width: 172px !important;
       
    }
    .leaflet-control-layers-base{
      top: 249px;
     width: 180px !important;
    }
    */
    .leaflet-control-layers-separator{
       /* top: 226px !important;*/
         top: 241px !important;
          width: 172px !important;
          display: none;
    }
    .leaflet-control-layers-base{
     /* top: 236px; */
      top: 250px !important;
      width: 180px !important;
    }
      /*END Styles*/
      
  /*Map buttons*/
  
  .leaflet-control-search{
      left: 182px !important;
      margin-top: 5px !important;
     
  
  }
  .search-button {
          width: 23px !important; 
      height: 23px !important;
  }
  
  .leaflet-control-zoom {
    left: 182px !important;
    top: 50px ;
    height: 50px ;
  
    
  }
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out{
    width: 23px !important;
      height: 23px !important;
      line-height: 23px !important;
      font-size: 16px !important;
  }
  
      
  /* END Map buttons*/
    
    
  /*Table*/
  .col-sm-4 {
  
    top: 45px;
    
  }
  
  .well {
    font: 8px/1.5 "Open Sans";
    width: 265px;
  }
  
  
  .table > thead > tr > td,
  .table > tbody > tr > td{
    line-height: 1;
    padding: 3px 2px 3px 2px !important;
  }
  
  .table > thead > tr > td:first-child,
  .table > tbody > tr > td:first-child{
    /*padding: 2px 2px 2px 2px;*/
      width: 100px;
  }
  
  
  #MarkerIcon {
      width: 25px !important;
      height: 25px !important;
      margin-right: 6px;
      margin-left: 6px;
  }
  #MarkerIcon > img{
      width: 25px !important;
      height: 25px !important;
    
  }
  .table-header > #SiteNo{
    font-size: 12px;
       letter-spacing: 2px;
    
  }
  
  .table-header > #MarkerIconText{
    
    font-size: 10px;
       letter-spacing: 2px;
  }
  
  #InspectionType{
    font-size: 10px;
       letter-spacing: 2px;
          margin: 6px 0 6px 0;
  }
  
  #showSidebar{
      width: 16px;
    height: 16px;
    padding: unset;
  }
  
  #Next,#Back{
    width: 16px;
    height: 16px;
    padding: 0 0 0 0 !important;
  }
  
  #RecordNav {
    font: bold 10px "Open Sans";
  }
  
  #TableIndex{
    height: 16px;
    width: 65px;
  }
  /*End table*/
  
}
  
@media (max-width: 500px){

  #header-title{
    width: 30px;
    height: 30px ;
    background-image: url('./Images/cla-logo_no-text_2x.png');
  }
  
  #title{
    margin-top: 5px;
        font-size: 15px;
    letter-spacing: 3px;
  }
  
   .leaflet-control-layers-separator{
       /* top: 226px !important;*/
         top: 241px !important;
         display: none;
    }
    .leaflet-control-layers-base{
     /* top: 236px; */
      top: 260px !important;
    }
    .leaflet-control-layers {
     /* height: 296px*/;
       height: 321px;
       margin-left: 0px;
    }
    
    .leaflet-left .leaflet-control {
      margin-left: 0px !important;
    }
    
    .leaflet-control {
      margin-left: 5px !important;
    }
  
}

@media (max-height: 400px){

      #header {
      height: 26px ;
      border-bottom: 1px solid #221b65;
      padding: 3px 3px 3px 3px;
      
    }
    
    #header-title{
    width: 20px;
    height: 20px ;
    background-image: url('./Images/cla-logo_no-text_2x.png');
    }
    
    #header-logo {
    
    }
    #showInfo {
     width: 20px;
    height: 20px;
    margin-top: -9px;
    padding: 0 0 0 0;
    }
    
    #title{
      top: 3px ;
      margin-top: 0px ;
      font-size: 12px;
    }
    
    #Map {
      top: 27px !important;
      height: calc(100vh - 27px) !important;
    }
    
    
    #stats-container-2 {
      top: 28px;
        margin-left: 5px;
    }
     #stats-container-2 >  input{
      margin-top: 0 !important;
      bottom: 5px;
  
    }
    
    #stats-container-2 > span{
  
      bottom: 6px;
      margin-left : 18px;
  
    }

    
    .leaflet-control-search {
      margin-top: 1px !important;
      left: 182px;
    }
    .leaflet-control-layers {
      top: -41px !important;
      margin-left: 0px;
    }
    
    .leaflet-left .leaflet-control {
      margin-left: 0px !important;
    }
    
    
    .col-sm-4 {
      top: 30px;
      right: -12px;
      
    }
    #InspectionType{
      margin: 2px 0 2px 0;
    }
    .well{
         padding: 5px 2px 10px 2px;
    }
    .leaflet-control-zoom {
      top: 47px ;
    }
     .leaflet-left {
      left: -7px;
    }
    #stats-container, #stats-container-2 {
      margin-left: 4px;
    }
     #stats-container-2 >  input{
      margin-top: 0 !important;
      bottom: 5px;
  
    }
    
    #stats-container-2 > span{
  
      bottom: 6px;
      margin-left : 18px;
  
    }

    
    .leaflet-control-search {
      left: 182px !important;
    } 
    .legend-item > div {
   
      margin-top: 0;
      letter-spacing: 0px;
    }
    .legend-header {
      font-size: 10px;
    }
    .legend-sub-items-container > .size-chart {
      margin-bottom: 0;
    
    }
    .legend-sub-items-container,
    .legend-sub-items-container > div,
     .legend-sub-items-container > img {
     
        margin-bottom: 0px;
        margin-top: 0px;
      
    }
    .leaflet-control-layers-separator{
       /* top: 226px !important;*/
         top: 241px !important;
         display: none;
    }
    .leaflet-control-layers-base{
     /* top: 236px; */
      top: 250px !important;
    }
    .leaflet-control-layers {
     /* height: 296px*/;
       height: 311px;
       margin-left: 0px;
    
    }
    
    .leaflet-left .leaflet-control {
      margin-left: 0px !important;
    }
    
    
    .leaflet-control {
      margin-left: 5px !important;
    }
    
    
  
}

